<% if (user) { %>

    <nav class="navbar">

        <a href="/mypage">내 페이지</a>

        <a href="/company/list">
            기업 목록
        </a>

        <a href="/spec">
            스펙 업
        </a>

        <a href="/jobsite">
            구직 사이트 바로가기
        </a>

    </nav>

    <% } %>