<!DOCTYPE html>
<html>

<head>
    <title>메인</title>
    <%- include('includes/header') %>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">

        <!-- 상단 설명 -->
        <div class="title-box">
            자신의 스펙과 회사 비교를 한 눈에 가능한 캐리어 업
        </div>

        <!-- 비교 영역 -->
        <div class="compare-box">

            <div class="card user">
                <h3>홍길동 (OO세)</h3>
                <p>OO대학교(4년제) 컴퓨터공학과</p>

                <h4>자격증</h4>
                <p>정보처리기사</p>

                <h4>어학</h4>
                <p>일본어 JLPT2급</p>
            </div>

            <div class="card company">
                <h3>A사</h3>
                <p>직무: 백엔드 엔지니어</p>

                <h4>자격 요건</h4>
                <p>학력무관/경력무관</p>

                <h4>우대사항</h4>
                <p>정보처리기사</p>
            </div>

            <div class="card company">
                <h3>B사</h3>
                <p>직무: 프론트엔드 엔지니어</p>

                <h4>자격 요건</h4>
                <p>대졸/경력무관</p>

                <h4>우대사항</h4>
                <p>유관 업무 경력</p>
            </div>

        </div>

        <!-- 하단 버튼 영역 -->
        <div class="bottom-box">
            <h3>회사 스펙 맞춤 정보</h3>

            <div class="buttons">
                <button onclick="location.href='https://exam.toeic.co.kr/receipt/receiptStep1.php'">토익 신청하러 가기</button>
                <button onclick="location.href='https://www.q-net.or.kr/crf005.do?id=crf00503&jmCd=1320'">정보처리기사
                    일정</button>
                <button onclick="location.href='https://www.jlpt.or.kr/html/intro.html'">JLPT 신청하러 가기</button>
                <button onclick="location.href='https://license.korcham.net/'">대한상공회의소 홈페이지</button>
            </div>
        </div>

    </div>

</body>

</html>

</body>

</html>